.profile-circle {
  display: flex;
  margin-right: 20px;
  height: 80%;
  aspect-ratio: 1 / 1;
  background-color: #ffbe98;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
.profile-litter {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.profile-circle:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px lightgray;
  transform: scale(1.15);
  transition: ease-in 0.075s;
}
.modal-profile {
  position: absolute;
  top: 10%;
  right: 20px;
  left: auto;
  width: 300px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  animation: slideDown 0.4s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-logout {
  height: 30%;
}
